.button {
    color: white;
    font-size: 1.2rem;
    padding: .7rem;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;

    i {
        color: white;
    }

    &:hover {
        background: white;
        color: $dark-body;

        i {
            color: $dark-body
        }
    }
}

.button-small {
    display: inline-block;
}

.button-block {
    display: block;
}

.gradient-button {
    background: linear-gradient(to right, $orange, $pink);
    padding: 3px;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
    margin: .5rem;
    
    a {
        color: $pink;
        font-weight: bold;
        text-align: center;
        padding: .5rem;
        border-radius: 5px;
        background: white;
        display: block;
        
        &:hover {
            color: white;
            background: linear-gradient(to right, $orange, $pink);
        }
    }
}