.nav {
    transition: all .2s;
    z-index: 5;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid transparent;
    
    
    
    
    &:hover {
        border-color: $orange;
        height: 55px;
        a{
            color: $lighter;
        }
    }

    
    a {
        transition: color .2s;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 20px;
        color: $light;
        text-decoration: none;
        
        &:hover {
            color: $orange;
        }
    }
}