.nav {
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        transition: color .2s;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 2px;
        padding: 20px;
        color: white;
        text-decoration: none;
        
        &:hover {
            color: $orange;
        }
    }
}