.portfolio-card {
    background: $lighter;
    border-radius: 2px;
    box-shadow: $shadow; 
    flex-basis: 22rem;
    margin: 1rem;
    
    img {
        border-radius: 2px 2px 0 0;
        width: 100%;
    }

    a {
        display: block;
        margin: 1rem;
        padding: .7rem 0 .7rem 0;
        text-align: center;
        transition: all .2s;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background: $orange-light;

        &:hover {
            background: $orange;
        }
    }
}