.skill-card {

        transition: all .2s;
        border-radius: 2px;
        box-shadow: $shadow;
        padding: 20px;
        background: rgb(245, 245, 245);

        &:hover {
            transform:translateY(-2px);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
        }

        i {
            font-size: 35px;
            text-align: center;
            display: block;
            padding: 15px;
        }

        h3{
            padding-bottom: 10px;
            
        }

        p {
            
            line-height: 20px;
        }

    
}