.skill-card {
        flex-grow: 1;
        flex-basis: 15rem;
        flex-shrink: 0;
        transition: all .2s;
        border-radius: 2px;
        border: 1.4px solid $light;
        padding: 1.2rem;
        transition: all .2s;
        min-height: 16.5rem;
        
        margin: .6rem;
        
        &:hover {
            transform:translateY(-2px);
            border-color: $lighter;
            
            p {
                color: $lighter;
            }
        }

        i {
            font-size: 3rem;
            text-align: center;
            display: block;
            padding: 1.5rem;
            color: $pink;
        }

        h3{
            padding-bottom: 1rem;
            
        }

        p {
            color: $light;
            line-height: 2rem;
        }
}

.hidden {
    opacity: 0;
}