.skill-card {
        flex-grow: 1;
        flex-basis: 15rem;
        transition: all .2s;
        border-radius: 2px;
        box-shadow: $shadow;
        padding: 1rem;
        background: rgb(245, 245, 245);
        min-height: 16.5rem;
        margin: 1rem;
        &:hover {
            transform:translateY(-2px);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
        }

        i {
            font-size: 3rem;
            text-align: center;
            display: block;
            padding: 1.5rem;
            color: $pink;
        }

        h3{
            padding-bottom: 1rem;
            
        }

        p {
            
            line-height: 2rem;
        }

    
}

.hidden {
    opacity: 0;
}