$shadow: 0px 1px 5px rgba(0,0,0,0.3);

$red: rgba(217, 36, 36, 1);
$light-blue: rgba(87, 184, 255, 1);
$blue: rgba(36, 69, 114, 1);

$orange-light: #FFA551;
$orange : rgb(255, 132, 17);

$pink: rgb(229, 32, 97);

$dark-heading: #171717;
$dark-body: #454545;